*{
    font-family: 'Outfit';
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
html{
    background-color: hsl(30, 54%, 90%);
}
body{
    width: 700px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
}
img{
    width: 650px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 25px;
}
@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    body {
      width: 100%;
      background-color: aqua;
    }
  }

  h1{
    font-weight: 400px;
    color: hsl(24, 5%, 18%);
    padding-left: 25px;
    font-family: 'Young-serif';
  }
  h2{
    font-family: 'Young-serif';
    color: hsl(14, 45%, 36%);
    padding-left: 25px;
  }
  p{
    font-size: 16px;
    width: 650px;
    text-align: justify;
    padding-bottom: 20px;
  }
  .prep{
    background-color: hsl(330, 100%, 98%);
    width: 650px;
    border-radius: 10px;
  }

  .prep h3{
    color: hsl(332, 51%, 32%);
    padding: 20px 20px 0 25px;
    margin-bottom: -5px;
    font-family: 'Outfit';
  }
  .prep ul{
    font-size: 16px;
    padding-bottom: 20px;
  }
  .prep li{
   font-size: 16px;
   padding: 10px 0 10px 15px;
   font-family: 'Outfit';
  }
  .prep li::marker{
    color: hsl(332, 51%, 32%);  
  }
  section{
    width: 650px;
    font-size: 16px;
    margin-left: 10px;
  }

  section ul{
    padding-bottom: 20px;
  }
  section li{
    padding: 5px 0 5px 10px;
  }
  section li::marker{
    color: hsl(14, 45%, 36%);
  }

  hr{
    width: 650px;
    color: hsl(30, 18%, 87%);
    background-color:hsl(30, 18%, 87%) ;
  }
p.angka1{
    padding-left: 60px;
    word-spacing: 240px;
    padding-bottom: 0;
}

p.angka2{
    padding-left: 60px;
    word-spacing: 255px;
    padding-bottom: 0;
}

p.angka3{
    padding-left: 60px;
    word-spacing: 245px;
    padding-bottom: 0;
}

p.angka4{
    padding-left: 60px;
    word-spacing: 270px;
    padding-bottom: 0;
}
span{
    color: hsl(14, 45%, 36%);
    font-weight: 700px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }